 
.table thead tr th{
    padding: 10px;
    text-align: left;
}

.table tbody tr td{ 
    padding: 10px;
    text-align: left;
}
.table tbody tr{ 
    border-bottom: 1px solid #eee;
}
.table tbody tr{ 
    border-bottom: 1px solid #eee;
}
.table thead{ 
    border-bottom: 2px solid #eee;
}
.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
    z-index: 9999999999999999;
  }
  
  @-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  ol.bread-crumbs li::after{
    content: '/';
    color: #4B5563;
}
ol.bread-crumbs li a{
    text-transform: capitalize;
}
ol.bread-crumbs .active a{
    color: #6366F1;
    font-weight: bold;
}
ol.bread-crumbs li:last-child:after{
    content: '';
}